<html>
    <head>
        <title>Add New Archive Account</title>
    </head>

    <body>
        <h1>Add imap Account</h1>

    <form method="post">
        Host: <input type="text" id="host" name="host"><br>
        UserName: <input type="text" id="userName" name="userName"> <br>
        Password: <input type="password" id="pwd" name="pwd">  <br>
        Port: <input type="text" id="port" name="port"> <br>
        <br><br>
        <input type="submit" text="Save">
    </form>

    </body>

</html>