<html>
<head>
    <title>Add New Archive Account</title>
</head>

<body>

{{> header}}

<form method="POST">
    <fieldset>
        <p><label for="searchtxt">Search Archive</label> <input type="text" name="searchtxt" id="searchtxt"></p>
        <p><button type="submit">Search</button></p>
    </fieldset>
</form>

<div>

    <table>
        <tr>
            <th>Date</th>
            <th>from</th>
            <th>to</th>
            <th>body</th>
        </tr>
        {{#each searchItems}}
        <tr>
            <td>{{headers.date}}</td>
            <td>{{headers.from}}</td>
            <td>{{headers.to}}</td>
            <td>{{subject}}</td>
        </tr>
        {{/each}}

    </table>


</div>

</body>
</html>