<!DOCTYPE html>
<html>
<head>
    <title>Create New Account</title>
</head>
<body>

{{> header}}

<form method="POST">
    <fieldset>
        {{#if error}}<p><strong style="color:crimson;">{{error}}</strong></p>{{/if}}
        <legend>Create New User</legend>
        <p><label for="email">Email</label> <input type="email" name="email" id="email"></p>
        <p><label for="firstName">First Name</label> <input type="text" name="firstName" id="firstName"></p>
        <p><label for="lastName">Last Name</label> <input type="text" name="lastName" id="lastName"></p>
        <p><label for="password">Password</label> <input type="password" name="password" id="password"></p>
        <p><button type="submit">Create User</button></p>
    </fieldset>
</form>

</body>
</html>